.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
/* background-color: rgba(0,0,0,0.5) !important; */
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header{
  background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;

}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color:black;
}

.links a{
margin-left: 4px;
}


.row-utilities 
  
  {
  
  margin-top: 30px;
  
  .pos-abs {
      position: absolute;
  }

  .loader-placeholder {
      /*height: 177px;
      text-align: center;*/
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
  }

  .loader-utilites {
      width: 272px !important;
      height: 180px !important;
  }

  .hidden {
      display: none;
  }

  .center-text {
      text-align: center;
  }

  .right-text {
      text-align: right;
  }

  .instance-btn {
      border: 1px solid #ccc;
      margin-right: 5px;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 6px 10px;
      cursor: pointer;
      outline: 0;
  }

  .instance-btn h3 {
      font-size: 14px;
      margin-bottom: 0;
  }

  .instance-btn h3 .is-active > button {
      background: #f07667;
      color: #fefefe;
  }

  .contact-instance {
      border: 1px solid #ccc;
      padding: 15px;
      min-height: 370px;
      position: relative;
  }

  .is-active {
      background: #f07667;
      border-color: #f07667;
  }

  .instance-btn.is-active h3 {
      color: #fff;
  } 
}
